node_modules
database/db.json
.env
.authorized_servers.json
.pool_of_servers.json

# Ignore some servers files for the main repository
servers/BBB/.gitignore
servers/BBB/README.md
servers/Load-Balancer/.gitignore
servers/Load-Balancer/README.md
# Ignore Install files
servers/BBB/INSTALL_BBB.md
servers/Load-Balancer/INSTALL_LB.md
